.dropdown-js{
    --color-one: #fff; /* * Title */
    --color-one-alternative: #ddd; /* * Title hover */
    --color-two: #fff; /* * Buttons */
    --color-two-alternative: #ddd; /* * Buttons hover */
    --color-three: #222; /* * Background */
    --color-three-alternative: #000; /* * Background hover */
    overflow: hidden;
    transition: 500ms;
    height: auto;
    z-index: 9;
    box-sizing: border-box;
}

.dropdown-js.opened{
    overflow: visible;
}

.dropdown-js.fixed{
    position: initial;
}

.dropdown-js > .dropdown-title{
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--color-one);
    background-color: var(--color-three);
    transition: 500ms;
}

.dropdown-js.opened > .dropdown-title,
.dropdown-js > .dropdown-title:hover{
    background-color: var(--color-three-alternative);
}

.dropdown-js .dropdown-title .dropdown-btn{
    position: relative;
    display: inline-block;
    width: fit-content;
    min-width: 2rem;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--color-two);
    background-color: transparent;
    border: none;
    transition: 500ms;
}

.dropdown-js .dropdown-title .dropdown-btn:focus{
    outline: none;
}

.dropdown-js .dropdown-title .dropdown-btn:hover{
    color: var(--color-two-alternative);
}

.dropdown-js .dropdown-title .dropdown-btn .dropdown-icon{
    position: relative;
    padding-left: .5rem;
}

.dropdown-js .dropdown-menu .dropdown-link{
    display: inline-flex;
    align-items: center;
    height: 2.3rem;
    line-height: 2.3rem;
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: var(--color-one);
    transition: 500ms;
}

.dropdown-js .dropdown-menu .dropdown-link:hover{
    color: var(--color-one-alternative);
}

.dropdown-js .dropdown-menu .dropdown-link .link-text{
    white-space: nowrap;
}

/* MD */
@media(min-width: 768px){
    /**/
}

/* LG */
@media(min-width: 1024px){
    .dropdown-js{
        position: relative;
    }
    
    .dropdown-js.opened,
    .dropdown-js:hover{
        overflow: visible;
    }

    .dropdown-js .dropdown-menu{
        display: block;
        min-width: 100%;
        width: fit-content;
        height: auto;
        background-color: var(--color-three);
        border: none;
        padding: .5rem 1rem;
        border-radius: 0;
    }

    .dropdown-js.fixed .dropdown-menu{
        padding: 0;
        overflow: hidden;
        transition: 500ms;
    }

    .dropdown-js.fixed.opened .dropdown-menu{
        overflow: visible;
    }

    .dropdown-js.fixed.closed .dropdown-menu{
        height: 0;
    }

    .dropdown-js:not(.fixed) .dropdown-menu{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .dropdown-js.fixed > .dropdown-menu > li{
        position: relative;
        width: 100%;
        transition: 500ms;
    }
    
    .dropdown-js.fixed.closed > .dropdown-menu > li{
        max-height: 0;
        overflow: hidden;
    }
    
    .dropdown-js.fixed.opened > .dropdown-menu > li,
    .dropdown-js.fixed.opened > .dropdown-menu > .dropdown-js.closed{
        max-height: calc(4.6rem + 1px);
    }
    
    .dropdown-js.fixed.opened > .dropdown-menu > .dropdown-js.opened{
        max-height: fit-content;
    }
}

/* XL */
@media(min-width: 1200px){
    /**/
}