:root {
    --dropdown-header-color: #222;
    --dropdown-header-color-alt: #222;
    --dropdown-header-background-color: #fff;
    --dropdown-header-background-color-alt: #ddd;
    --dropdown-content-color: #222;
    --dropdown-content-color-alt: #222;
    --dropdown-content-background-color: #fff;
    --dropdown-content-background-color-alt: #ddd;
}

.dropdown {
    --height: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.dropdown .dropdown-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dropdown-header-color);
    transition: 500ms;
    background-color: var(--dropdown-header-background-color);
}

.dropdown.opened .dropdown-header {
    color: var(--dropdown-header-color-alt);
    background-color: var(--dropdown-header-background-color-alt);
}

.dropdown .dropdown-content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    height: 0;
    transition: 500ms;
    background-color: var(--dropdown-content-background-color);
    color: var(--dropdown-content-color);
}

.dropdown.opened .dropdown-content {
    height: var(--height);
}

.dropdown .dropdown-content .dropdown-link {
    color: var(--dropdown-content-color);
    transition: 500ms;
}

.dropdown .dropdown-content .dropdown-link:hover {
    color: var(--dropdown-content-color-alt);
}

/* ? MD */
@media (min-width: 768px) {
    /**/
}

/* ? LG */
@media (min-width: 1024px) {
    .dropdown:hover .dropdown-content {
        height: var(--height);
    }
}

/* ? XL */
@media (min-width: 1200px) {
    /**/
}

/* ? 2XL */
@media (min-width: 1536px) {
    /**/
}