.dropdown {
    --dropdown-header-color: #222; /* ? * Titles */
    --dropdown-header-color-alternative: #222; /* ? * Titles efects */
    --dropdown-header-background-color: #fff; /* ? * Titles */
    --dropdown-header-background-color-alternative: #ddd; /* ? * Titles efects */
    --dropdown-button-color: #fff; /* ? * Buttons */
    --dropdown-button-color-alternative: #ddd; /* ? * Buttons efects */
    --dropdown-button-background-color: #222; /* ? * Buttons */
    --dropdown-button-background-color-alternative: #000; /* ? * Buttons efects */
    --dropdown-background-color: #fff; /* ? * Background */
    --height: 0;
    box-sizing: border-box;
    display: grid;
}

.dropdown .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dropdown-header-color);
    transition: 500ms;
    background-color: var(--dropdown-header-background-color);
}

.dropdown.opened .dropdown-header {
    color: var(--dropdown-header-color-alternative);
    background-color: var(--dropdown-header-background-color-alternative);
}

.dropdown .dropdown-header .dropdown-button {
    color: var(--dropdown-button-color-alternative);
    background-color: var(--dropdown-button-background-color-alternative);
}

.dropdown .dropdown-header:hover .dropdown-button,
.dropdown .dropdown-header .dropdown-button:focus {
    color: var(--dropdown-button-color-alternative);
    background-color: var(--dropdown-button-background-color-alternative);
    outline: none;
}

.dropdown .dropdown-body {
    overflow: hidden;
    height: var(--height);
    transition: 500ms;
}

/* ? MD */
@media (min-width: 768px) {
    /**/
}

/* ? LG */
@media (min-width: 1024px) {
    /**/
}

/* ? XL */
@media (min-width: 1200px) {
    /**/
}

/* ? XXL */
@media (min-width: 1440px) {
    /**/
}